<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Crudo.lol - Rate Programming Job Posts</title>
		<script is:inline src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>
